
body, html {
    height: auto;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-family:courier;
}

body {
    background-image: url('http://localhost/Play_List/img/playlist.jpg');
    font-size: xx-large;
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;   
}

button{
    height: 70px;
    width: 130px;
    font-family:courier;
    margin-bottom: 20px;
    margin-right: 10px;
    color:black;
    border-radius: 20px;
    border: 2px solid plum;
    padding: 10px;
}

input{
    border-radius: 5px;
}

label{
    margin-right: 10px;
}

table {
    margin-right:10px;
}

tr{
    margin: auto;
    color:white;
}

td, th{
    font-family:courier;
    border: 2px solid black;
    margin: 0 7px 0 7px;
    text-align: center;
}

input[type=search]{
    background-color: lightgoldenrodyellow;
    width:338px;
}

span{
    font-family:courier;
}

iframe{
    margin-left: 90px;
}


a{
    color:black; 
}

a:hover{
    color:gray;    
}

#description{
    position: absolute;
    margin-left:-50px;
    margin-top:-50px;
}

#links{
    text-align: center;
    margin-right: 50px;
}

#login{
    height: 70px;
    width: 130px;
    margin-bottom: 20px;
    margin-right: 20px;
    color:black;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    width: 200px;
    padding: 10px;
}

#add{
    height: 70px;
    width: 370px;
    color:gray;
    border-radius: 20px;
    border: 2px solid plum;
    padding: 15px 50px 15px 50px; 
}

#HomePage{
    margin-top: 380px;
    margin-right: 20px;
    text-align: center;
}

#logout{
    height: 60px;
    width: 220px; 
    height: 70px;
    background-color:black;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin-left: 900px;
}

#white{
    color:white;
}

.form{
    width: 50%;
}

.form > label{
    color:white;
    width: 100%;
    text-align: left;
    padding-right: 200px;
}

.form > input{
    width: 100%;
}

.form > button{
    margin-left: 200px;
}
select{
    width: 100%;
    height: 55px;
    color:black;
}

.search{
    height: 60px;
    width: 220px; 
    height: 70px;
    background-color:white;
    border-radius: 20px;
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    margin-left: 95px;
}

#search_line{
    width: 333px;
}



















